
<ion-content>

  <ion-list>
    <main class="caixa">
      <div class = "a">Detalhe da Série</div>
  <ion-item>
    <ion-label>Habilitar Edição</ion-label>
    <ion-toggle color="sucess" 
    (ionChange)="alterarEdicao()"></ion-toggle>
  </ion-item>
    <ion-item>
      <ion-input disabled ="{{edicao}}" placeholder="nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input disabled ="{{edicao}}" placeholder="autor"[(ngModel)]="autor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input disabled ="{{edicao}}" placeholder="episodios" [(ngModel)]="episodios" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Selecione genero" [(ngModel)]="genero">
          <ion-select-option value="terror">terror</ion-select-option>
          <ion-select-option value="fantasia">fantasia</ion-select-option>
          <ion-select-option value="comedia">comedia</ion-select-option>
          <ion-select-option value="drama">drama</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-input placeholder="sinopse" [(ngModel)]="sinopse"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label position="floating">Lancamento</ion-label>
     <ion-input type="date"></ion-input>
     </ion-item>
    <ion-item>
      <ion-select disabled ="{{edicao}}"placeholder="Selecione quantas temporadas" [(ngModel)]="temporada">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-input placeholder="plataforma" formControlName="plataforma" [(ngModel)]="plataforma"></ion-input>
    </ion-item>
  

  <ion-button disabled ="{{edicao}}" expand="block" shape= "round" (click)="editar()">Salvar</ion-button>
  <ion-button disabled ="{{edicao}}" expand="block" shape= "round" (click)="excluir()" color="danger">Excluir</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
</ion-fab>
</main>
    <ion-fab-button color="primary" (click)="irParaHome()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-list>
 
</ion-content>


