

      <ion-content >
        <ion-list  >
          <main class="caixa">
            <div class = "a">Detalhe um Filme</div>
            <div>
              <ion-label>Habilitar Edição</ion-label>
               <ion-toggle color="sucess" 
               (ionChange)="alterarEdicao()"></ion-toggle>
              </div>
            <form [formGroup]="form_cadastrar" (ngSubmit)="submitForm()">
            <div>
              <ion-input placeholder="Nome" formControlName="nome"  disabled="{{edicao}}"></ion-input>
              <div *ngIf="((errorControl.nome.touched) || (errorControl.nome.dirty)&& errorControl.nome.errors)">
                <span *ngIf="errorControl.nome.errors?.required">
                  Nome é Obrigatório!
                </span>
              </div>
            </div>
            <div>
              <ion-input placeholder="Autor" formControlName="autor"  disabled="{{edicao}}"></ion-input>
              <div *ngIf="((errorControl.autor.touched) || (errorControl.autor.dirty)&& errorControl.autor.errors)">
                <span *ngIf="errorControl.autor.errors?.required">
                  Autor é Obrigatório!
                </span>
              </div>
            </div>
          
            <div>
              <ion-input placeholder="Episodios"  formControlName ="episodio" type="number"  disabled="{{edicao}}"></ion-input>
              <div *ngIf="((errorControl.episodio.touched) || (errorControl.episodio.dirty)&& errorControl.episodio.errors)">
                <span *ngIf="errorControl.episodio.errors?.required">
                  Numero de episodios é Obrigatório!
                </span>
              </div>
            </div>
            
          <div>
          <ion-select placeholder="Selecione genero"  formControlName ="genero"  disabled="{{edicao}}">
              <ion-select-option value="terror">terror</ion-select-option>
              <ion-select-option value="fantasia">fantasia</ion-select-option>
              <ion-select-option value="comedia">comedia</ion-select-option>
              <ion-select-option value="drama">drama</ion-select-option>
            </ion-select>
          <div *ngIf="((errorControl.genero.touched) || (errorControl.genero.dirty)&& errorControl.genero.errors)">
            <span *ngIf="errorControl.genero.errors?.required">
              Genero é Obrigatório!
            </span>
            </div>
          </div>
      
            <div>
              <textarea placeholder="Sinopse" formControlName="sinopse"  disabled="{{edicao}}"></textarea>
            <div *ngIf="((errorControl.sinopse.touched) || (errorControl.sinopse.dirty)&& errorControl.sinopse.errors)">
              <span *ngIf="errorControl.sinopse.errors?.required">
                Uma preve descrição da serie é Obrigatório!
              </span>
            </div>
          </div>
      
              <div>
                <ion-select placeholder="Selecione temporada"  formControlName ="temporada"  disabled="{{edicao}}">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                  </ion-select>
                <div *ngIf="((errorControl.temporada.touched) || (errorControl.temporada.dirty)&& errorControl.temporada.errors)">
                  <span *ngIf="errorControl.temporada.errors?.required">
                    numero de temporadas é Obrigatório!
                  </span>
                </div>
              </div>
      
                <div>
                  <ion-input placeholder="Plataforma" formControlName="plataforma"  disabled="{{edicao}}"></ion-input>
                <div *ngIf="((errorControl.plataforma.touched) || (errorControl.plataforma.dirty)&& errorControl.plataforma.errors)">
                  <span *ngIf="errorControl.plataforma.errors?.required">
                    A plataforma é Obrigatório!
                  </span>
                </div>
              </div>
              <ion-button disabled="{{edicao}}" expand="block" (click)="editar()" color="success">Editar</ion-button>
      <ion-button disabled="{{edicao}}" expand="block" (click)="excluir()" color="danger">Excluir</ion-button>
    </form>
</main>
          </ion-list>
    
        </ion-content>
      
      