ion-list{
  height: 100vh;
  background-image: url('../img/fundoCadastrar.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ion-input,ion-select,textarea,ion-toggle{
  height: 50px;
  width: 100%;
  margin:0 auto;//coloca no meio
  outline: none;
  color: #fff;
  padding: 1.5px;
  background-color:#333;
  font-size: 14px;
  border-radius:3px;
}

.btnE{
  background-color: rgba(255,255,255,0.2);
  color:#fff;

}
.btnE:hover{
  color:#fff;
  opacity:0.8

}
.btnS{
  background-color: #fff;
}

.btnS:hover{
  opacity:0.8;
}

ion-label{
  color: #fff;
}
ion-input:hover{
  background-color: #444;
}
ion-select:hover{
  background-color: #444;
}


textarea:hover{
  background-color: #444;
}

span{
  color:#e71313
}

.caixa{
  background-color:#000101a8;
  padding: 50px;
  color: #000000;
  max-width: 450px;
  margin:0 auto 80px;//coloca no meio
}
.a{
  top: 60%;
  transform: translateY(-60%);
  text-align: center ;
  color: rgba(255,255,255,0.75);//branco co opacidaade
  font-family: 'Londrina+Solid';
  font-size: 40px;
  white-space:nowrap;//nao quebra
  overflow:hidden;

  animation:sumi 4s steps(20)1s normal both;
}
@keyframes sumi{
  from{
    width:0;
  }
  to{
    width:8em;
  }
}


