
<ion-content >
  
<ion-list>
  <main class="caixa">
  <div class = "a"><a >SÉRIES</a></div>
    <div class = "title"><p>DA SEMANA</p></div>
  <ion-item-sliding *ngFor="let serie of series">
    <ion-item>
      <details>
      <summary><ion-label><p> nome da serie</p>{{serie.nome}}</ion-label></summary>
      
      <ion-label><p> autor</p>{{serie.autor}}</ion-label>
      
      <ion-label><p>episodios</p> {{serie.episodios}}</ion-label>
      <ion-label> <p> genero</p>{{serie.genero}}</ion-label>
     
      <ion-label> <p> sinopse</p>{{serie.sinopse}}</ion-label>
    
      <ion-label><p> data_lancamento</p>{{serie.data_lancamento}}</ion-label>
     
      <ion-label> <p> temporada</p>{{serie.temporada}}</ion-label>
    
      <ion-label>  <p> plataforma</p>{{serie.plataforma}}</ion-label>
      </details>
    </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click) = "irParaDetalhar(serie)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </ion-item-sliding> 
</main>
  </ion-list>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color = "primary"(click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
