@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap');
ion-list{
  height: 100vh;
  background-image: url('../img/fundoCadastrar.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ion-item{

  margin:0 auto 80px;//coloca no meio
  margin-bottom: 2px;//separa os itens
  font-size: 18px;
  border-radius: 40px;//borda do botao
}
 details{
  color: #000000;

}
ion-label{
  font-family: 'londrina';
}

.caixa{
  background-color:#000101a8;
  padding: 70px;
  color: #000000;
  max-width: 560px;//tamanho da caixa
  margin:0 auto 80px;//coloca no meio
}
.a{
  top: 45%;
  transform: translateY(-45%);
  text-align: center ;
  color:#f6e3dd;;//branco co opacidaade
  font-family: 'Londrina+Solid';
  font-size: 60px;
}

.title{
  position:absolute;
  left: 0%;
  right: 0;
  height: 60px;
  top: 10%;
  transform: translateY(-10%);
  text-align: center ;
  color:#f6e3dd;
  font-family: 'londrina';
  font-size: 30px;
  line-height: 50px;
  position: center;

}

.a:hover{
  color:  #f6e3dd;
  text-shadow: 0 0 8px  #f6e3dd;
}
.title:hover{
  color: #f6e3dd;
  text-shadow: 0 0 8px #f6e3dd;
}